html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
#root {
    height: 100%;
}
  
.main-bg {
    height: 100vh;
    width: 100%;
    background-image: url('./assets/waterfall.jpg');
    background-size: cover;
    background-position: center;
    opacity: 80%;
    filter: blur(0.002px);
    color : lightblue
}   
  